
body {
    background-color: #ffffff;
    color: #333;
}

h1 {
    font-size: 24px;
    color: #000000;
}

.table {
    width: 100%;
    border: 1px solid #ccc;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.status {
    color: rgb(89, 0, 255);
}

.delete_icon img {
    width: 20px;
    height: 20px;
}