//_layout.scss

/* Медиа-запросы для экранов до 768px */
// @media (max-width: 768px) {

// }

/* Медиа-запросы для экранов до 480px */



@media  (max-width: 480px )  {

    .menu {

        max-height: none !important;

    }

    .formulas_s {
        margin: 1.4rem 0.8rem !important;
        border-radius: $bd_radius_small !important;
    }

    .formulas {
        min-width: 22rem !important;
        border-radius: $bd_radius_small !important;
    }

    .text_input {
        margin: 1rem !important;
        border-radius: $bd_radius_small !important;
    }


    .menu {
        flex-direction: column;
        width: 100%;


    }

    

    .link_to_pr {

        justify-content: center;
        width: 100%;
        padding: 0.8rem 1rem ;
        background-color: $bg_color_white;
        align-items: center;
        flex-direction: column;
        a {
            align-items: center;
            text-align: center;

        }
        div {
            text-align: center;
            background-color: $bd_active_color;
            width: 100%;
            padding: 0.5rem;
        }
    }

    .menu_button:last-child {
        border-bottom-left-radius: $bd_radius_1;
        border-bottom-right-radius: $bd_radius_1;
    }

    .menu_radio:first-child + .menu_button{
        border-top-right-radius: $bd_radius_1 !important;
        border-bottom-left-radius: 0 !important;
    }

    .menu_button {
        padding: 0.5rem 0.8rem;
        width: 100%;
        text-align: center;
    }

    .container1 {
        margin: 0 !important;
        padding: 1rem !important;
        @include flex-center;
        flex-direction: column !important;
        gap: 1rem;


        .buttons {
            flex-direction: column;
            width: 100%;
            button {
                border-radius: 0 !important;
                width: 100%;
                padding: 0.4rem;
            }

            button:last-child{
                border-bottom-left-radius: 2rem !important;
                border-bottom-right-radius: 2rem !important;
            }
        }
    }

    .flex_0 {
        flex-direction: column !important;
        margin: 1rem !important;
        gap: 0 !important;
        .Formula_sq {
            margin: 0.5rem 0;
            border-radius: $bd_radius_small !important;
        }
        .Containers_with_books_2 {
            width: 100%;
            gap: 0;
        }
    }

    .buttons_list {
        flex-direction: column;
        button {
            border-radius: $bd_radius_small !important;
        }
    }


}