@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

button {
  background: none;
  border: none;
}

/* Медиа-запросы для экранов до 768px */
/* Медиа-запросы для экранов до 480px */
@media (max-width: 480px) {
  .formulas_s {
    margin: 1.4rem 0.8rem !important;
    border-radius: 0.5rem !important;
  }
  .formulas {
    min-width: 22rem !important;
    border-radius: 0.5rem !important;
  }
  .text_input {
    margin: 1rem !important;
    border-radius: 0.5rem !important;
  }
  .menu {
    flex-direction: column;
    width: 100%;
  }
  .link_to_pr {
    justify-content: center;
    width: 100%;
    padding: 0.8rem 1rem;
    background-color: white;
    align-items: center;
    flex-direction: column;
  }
  .link_to_pr a {
    align-items: center;
    text-align: center;
  }
  .link_to_pr div {
    text-align: center;
    background-color: rgba(0, 250, 137, 0.349);
    width: 100%;
    padding: 0.5rem;
  }
  .menu_button:last-child {
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }
  .menu_radio:first-child + .menu_button {
    border-top-right-radius: 0.8rem !important;
    border-bottom-left-radius: 0 !important;
  }
  .menu_button {
    padding: 0.5rem 0.8rem;
    width: 100%;
    text-align: center;
  }
  .container1 {
    margin: 0 !important;
    padding: 1rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    gap: 1rem;
  }
  .container1 .buttons {
    flex-direction: column;
    width: 100%;
  }
  .container1 .buttons button {
    border-radius: 0 !important;
    width: 100%;
    padding: 0.4rem;
  }
  .container1 .buttons button:last-child {
    border-bottom-left-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important;
  }
  .flex_0 {
    flex-direction: column !important;
    margin: 1rem !important;
    gap: 0 !important;
  }
  .flex_0 .Formula_sq {
    margin: 0.5rem 0;
    border-radius: 0.5rem !important;
  }
  .flex_0 .Containers_with_books_2 {
    width: 100%;
    gap: 0;
  }
  .buttons_list {
    flex-direction: column;
  }
  .buttons_list button {
    border-radius: 0.5rem !important;
  }
}
body {
  background: #F1F1F1;
  font-family: "Inter";
  margin: 1rem;
}

h1 {
  color: #303030;
  font-size: 2rem;
}

.trash, .pen:hover, .discard:hover, .create_formula:hover, .save:hover {
  cursor: pointer;
}

/* 
-------------------------------------------------------------------
filter-page
-------------------------------------------------------------------
 */
.status {
  padding: 0.5rem;
}

.status div {
  display: inline;
  background-color: rgba(196, 196, 196, 0.3);
  padding: 0.2rem 0.5rem;
  border-radius: 1.2rem;
  margin-left: 0.5rem;
}

.st_active div {
  background-color: rgba(0, 250, 137, 0.349);
}

.settings {
  font-weight: bold;
  margin-top: 2rem;
  font-size: 2rem;
  margin: 1rem;
}

.container {
  margin: 1rem;
}

.table {
  background-color: white;
  border-radius: 1.2rem;
  box-shadow: -1px 1px 5px rgb(204, 204, 204);
  padding: 0 0.2rem;
  width: 100%;
  text-align: left;
  margin: 1rem 0;
  border-color: 1px solid rgba(196, 196, 196, 0.3294117647);
}
.table td {
  border-top: 1px solid rgba(196, 196, 196, 0.3294117647);
}

th, td {
  padding: 0.9rem;
}

.menu {
  background-color: white;
  width: 100%;
  display: flex;
  margin: 1rem 0;
  border-radius: 0.8rem;
  box-shadow: -1px 1px 5px rgb(204, 204, 204);
}

.menu_button {
  padding: 0.8rem 1.6rem;
}

.menu_button:hover {
  background-color: rgba(3, 110, 30, 0.61);
  color: white;
  transition: 0.25s;
}

.menu_button:active {
  background-color: rgba(7, 94, 66, 0.393);
  color: white;
  transition: 0;
}

.menu_radio {
  display: none;
}

.menu_radio:checked + .menu_button {
  background-color: black;
  color: white;
}

.menu_radio:first-child + .menu_button {
  border-radius: 0.8rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

/* 
-------------------------------------------------------------------
settings-page
-------------------------------------------------------------------
*/
.container1 {
  display: flex;
  padding: 1.6rem;
  flex-direction: row;
}

.buttons {
  text-align: right;
  display: flex;
  gap: 0.5rem;
  margin: 0 0.8rem;
}

.link_to_pr {
  text-align: left;
  display: flex;
  flex: 1;
  font-size: 1.1rem;
  margin: 0 1rem;
  gap: 0.8rem;
}

.text_input {
  background-color: white;
  border-radius: 1.2rem;
  box-shadow: -1px 1px 5px rgb(204, 204, 204);
  max-width: 100%;
  padding: 0.8rem;
  margin: 2rem;
  margin-top: 0;
}

.text_i {
  border-collapse: collapse;
  border: 1px solid rgba(196, 196, 196, 0.3294117647);
  padding: 0.6rem;
  border-radius: 0.8rem;
}

.text_i_article {
  color: #303030;
  font-size: 1.2rem;
  margin: 0 0 0.8rem 0;
}

.text_input_lol {
  width: 100%;
}

.discard, .create_formula, .save {
  box-shadow: -1px 1px 5px rgba(229, 229, 229, 0.649);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.discard {
  background-color: white;
  padding: 0.2rem 0.8rem;
  border-radius: 0.8rem;
}

.discard:hover {
  background-color: #bef2ff;
}

.create_formula {
  background-color: rgb(25, 25, 25);
  padding: 0.2rem 1.2rem;
  border-radius: 0.8rem;
  color: white;
}

.save {
  background-color: rgb(221, 221, 221);
  color: rgb(156, 156, 156);
  padding: 0.2rem 0.8rem;
  border-radius: 0.8rem;
}

.formulas {
  background-color: white;
  border-radius: 1.2rem;
  box-shadow: -1px 1px 5px rgb(204, 204, 204);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 26rem;
  min-width: 18rem;
  max-width: 40vw;
  height: 44vh;
  flex-direction: column;
  gap: 0.8rem;
}

.t_1 {
  margin: 0 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

.b_0 {
  box-shadow: -1px 1px 5px rgba(229, 229, 229, 0.649);
  background-color: rgb(25, 25, 25);
  color: white;
  font-weight: bold;
  padding: 0.4rem;
  width: 2.2rem;
  border-radius: 0.5rem;
}

.image_0 {
  min-height: 10rem;
  height: 23.6vh;
}

.formulas_s {
  background-color: white;
  border-radius: 1.2rem;
  box-shadow: -1px 1px 5px rgb(204, 204, 204);
  padding: 1rem;
  max-width: 100%;
  background-color: white;
  border-radius: 2rem;
  margin: 1.4rem 2.2rem;
}

.table_formulas {
  width: 100%;
  padding: 0.5rem;
  text-align: left;
  font-size: 1rem;
}

.formulas_article {
  font-weight: bold;
  font-size: 2rem;
}

/* 
-------------------------------------------------------------------
formulas-page
-------------------------------------------------------------------
*/
.flex_0 {
  display: flex;
  align-items: flex-start;
  gap: 2.2rem;
  margin: 2rem;
}

.Formula_sq {
  background-color: white;
  border-radius: 1.2rem;
  box-shadow: -1px 1px 5px rgb(204, 204, 204);
  padding: 2rem 1.2rem;
  width: 100%;
}

.Containers_with_books_1 {
  display: flex;
  flex: 1.4;
}

.Containers_with_books_2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2.2rem;
}

.article_of_sq {
  margin-bottom: 0.2rem;
}

.t_1_0 {
  margin-bottom: 0.8rem;
}

.t_2_0 {
  margin-top: 0.2rem;
  margin-bottom: 0.85rem;
}

.search_0 {
  border: 1px solid #a5a5a5;
  padding: 0.5rem;
  border-radius: 0.8rem;
  display: flex;
  gap: 0.5rem;
}

.book_container {
  border: 1px solid #a5a5a5;
  padding: 0.9rem;
  display: flex;
  border-radius: 1.2rem;
  flex-direction: column;
  margin-top: 1.6rem;
}

.book_content {
  display: flex;
  gap: 0.8rem;
  padding: 1.1rem;
  border-bottom: 1px solid #d3d3d3;
}

.book_icon {
  border-radius: 0.8rem;
  border: 1px solid #d3d3d3;
}

.book_content_title {
  font-size: 1.1rem;
  font-weight: bold;
  align-self: center;
}

.books_content .book_content:last-child {
  border: none;
}

.book_save_button {
  box-shadow: -1px 1px 5px rgba(229, 229, 229, 0.649);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(25, 25, 25);
  color: white;
  border-radius: 0.8rem;
}

.books_content {
  overflow: auto;
  max-height: 19rem;
  margin: 0.2rem 0;
}

.checkboxes_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.9rem;
}

.search_0_1 {
  margin: 2rem 0.8rem;
  margin-bottom: 0;
}

.checkbox_square {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #d3d3d3;
}
.checkbox_square .book_content {
  border-bottom: none;
}

.buttons_list {
  width: 100%;
  display: flex;
  gap: 0.2rem;
}

.book_cancel_button {
  box-shadow: -1px 1px 5px rgba(229, 229, 229, 0.649);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  color: black;
  padding: 0.3rem;
  border-radius: 0.8rem;
  border: 1px solid #d3d3d3;
}

.checkbox_square:last-child {
  border: none;
}

.checkbox_some {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
}

.checkbox_some .checkbox_square {
  padding-left: 2.4rem;
  border: none;
}

.checkbox_some .checkbox_square:first-child {
  padding-left: 0;
}

.checkbox_some:last-child {
  border: none;
}

.checkbox_some .checkbox_square .book_content {
  padding: 0.8rem;
}

.div_with_selected_checkbox {
  display: flex;
  gap: 0.8rem;
  visibility: hidden;
}